<div class="Container main">
    <div class="left-side"fxLayout="column" fxLayoutAlign="center">
        
      <div class="Logo-name">
        <h1>
            <span style="color: blue;">F</span>
            <span style="color: red;">u</span>
            <span style="color: yellow;">n</span>
            <span style="color: green;">d</span>
            <span style="color: red;">o</span>
            <span style="color: blue;">o</span>
        </h1>
        <h1 class="heading">Create your FundooNote Account</h1>
    </div>
    </div> 
    <div class="full_name" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">                
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput  placeholder="firstName">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput  placeholder="lastname">
        </mat-form-field>                  
</div>
    <div class="username" fxLayout="column" fxLayoutAlign=" stretch">  
              
        <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
            <input matInput  placeholder="enter your Email">  
            
        </mat-form-field>
        <a class="a-class" >Use my current email address instead</a>
        
        <div class="password-details" > 

                <mat-form-field appearance="outline" >
                  <mat-label >Password</mat-label>
                  <input type="text" matInput  placeholder="password"> 
                                                    
                </mat-form-field>
             
                <mat-form-field appearance="outline" >
                  <mat-label >Confirm Password</mat-label>
                  <input type="text" matInput  placeholder="cofirmpassword">
                </mat-form-field>                            
        </div>
         <div style="margin-top: -12px;">
          <mat-hint >Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint> 
        </div> 
        <div class="checkbox">              
            <mat-checkbox class="example-margin">Show password</mat-checkbox>                 
    </div>
    <div class="submit-button" >
        <button mat-button >Sign in instead </button>
        <button mat-raised->Next</button>
          </div>
          <div class="right-side">
            <div class="image-content" >
                 <img src="../../../assets/account.svg" aria-placeholder="account-image">  
                 <mat-hint class="hint text">One account All  FundooNote working for you.</mat-hint>        
                
             </div>
        
</div> 
</div>